<!doctype html>
<html>

<head>
	<title>Student Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

</head>

<body>
	<div class="cover-page">

<div class = "app-intro">
	<div class="application-name">Student Portal</div>
	<div class="app-motto-text">Faculty and students from across the college community are working on ways to address
		and potentially find solutions.</div>
	<div class="explore-btn-container">
		<a href="/" class="round-button">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
				<path d="M20,12 l-7,-8 v4 h-8 v8 h8 v4 z" class="explore-btn" />
			</svg>
		</a>
		<div class="action-text">Explore</div>



	</div>
</div>
		<div class = "details">
		
					<h2>About</h2>
					<p>
						Welcome to the Student Portal, your all-in-one destination for managing your academic life. 
            Our portal is designed to simplify your educational journey by providing easy access to your 
            courses, grades, schedules, and essential announcements. With its intuitive design and user- 
             friendly navigation, you can effortlessly handle academic tasks, communicate with 
             instructors, and stay informed about campus events. Whether you need to submit assignments, 
               join discussion forums, or access digital library resources, the Student Portal has you 
               covered. Dive into the features, take charge of your learning, and enhance your 
               educational experience with our comprehensive platform.
					</p>
	
			
				<h2>Contact</h2>
				<p>Vaishnavi Chandaluri: 1234567890<br>
					Andrew Tom Mathew: 0124578963<br>
					Divya Posa : 1025874369<br>
				</p>
		
	</div>
	
</body>

</html>